<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KAIROS | Seleccion</title>

  <!-- Google Font: Source Sans Pro -->
  {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> --}}
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

</head>
<body class="hold-transition login-page" >
{{{body}}}
</div>
<!-- /.login-box -->


<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>


<script>
  (function getRandomArbitrary() {
  let n = Math.floor(Math.random() * (8 - 1) + 1);
  let b = "url(/dist/img/trigo"+n+"-bg.jpg)";
  document.body.style.backgroundImage = b;
  document.body.style.backgroundSize ="cover";
  document.body.style.backgroundRepeat= "no-repeat"
})();
</script>


</body>
</html>
